{% include 'layoutloggedin.html' %}
  
<div class="container">
    <div class="text-center">
        <div class="card-body">
            {% if msg %}
                <div class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
            {% endif %}
            Your URL Details
        </div>
        <div>
            <h5 class="card-title">Original URL: {{url.target_url}}</h5>
            <h5 class="card-title">Shortened URL: {{url.url}}</h5>
            <h5 class="card-title">No of Clicks: {{url.clicks}}</h5>
    
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Time Clicked</th>
                <th scope="col">IP Address clicked from</th>
                </tr>
            </thead>
            <tbody>
                {% for click in clicks %}
                <tr class="pointer">
                    <td>{{loop.index}}</td>
                    <td>{{click.timestamp}}</td>                
                    <td>{{click.ip_address}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>